/*-------------gral------------*/
body {
	background: #000;
  	font-family: "Exo 2", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: normal;
	font-style: normal;
}
.body::selection {
	color: #ffffff;
	background-color: #000;
}
/*-------------imagen de fondo------------*/
body {
	margin: 0;
	background-color: #000;
	background-image: url(../images/2.jpg);
	background-image: url(https://wallpapers.com/images/hd/cool-2d-artwork-hollow-knight-hd-n95bgdchuyjouabu.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}
/*-------------nav----------------*/
.imgHollowNav {
	width: 3em;
	height: auto;
	border-radius: 100%;
	margin: 20px;
	margin-left: 3em;
}
.divNavImg {
  	display: flex;
  	position: relative;
}
.nav {
	padding: 0;
	background-color: #0005;
	user-select: none;
}
.aNav {
	text-decoration: none;
	color: #fff;
}
.pANav {
	margin: 10px;
}
.ulNav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 650px;
}
.ulNav li {
	margin: 0 10px;
}
/*-------------contenido----------------*/
.divCont {
	color: #fff;
	margin-top: 20px;
	background-color: #0007;
	border-radius: 20px;
	padding: 20px;
}
.imgCont {
	max-width: 15em;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 15px;
}
.pCont {
	margin-right: 30px;
	font-size: 20px;
	margin: 30px;
}
.divCont2 {}
.h3Cont {
	margin: 30px;
}
.h5Cont {
	margin-top: 50px;
	display: inline-block;
	margin: 30px;
}
/*------------footer--------------------*/
.contFoot {
	width: 50vw;
	height: auto;
	background-color: #0002;
	padding: 20px;
}
.ulFooter {
	list-style: none;
	overflow-wrap: break-word; 
}
.liFoot {
	display: list-item;
	list-style-type: none;
	display: list-item;
	display: inline-block;
	border-right: 1px solid #ccc;
	padding: 9px;
}
.liFoot:last-child {
	border-right: none;
}
.aFoot {
	text-decoration: none;
	vertical-align: baseline;
	color: #fff8;
}
.aFoot:hover {
	color: #fff;
}

/*--------pagina adaptable?--------*/
.pNavRes {}
.aNavRes {}
.divButtonRes {}
.buttonRes {}
.ulRes {}

@media (max-width: 670px) {
	.liFood {
		border-right: none;
	}
	.divCont2 {
		background-color: none;
	}
}
@media (min-width: 670px) {
}