* {
	background: #000;
	color: #fff;
	font-size: 1rem;
	box-sizing: border-box;
}
.contenBox {
	margin: 1rem 0;
	padding: 1rem;
	background: #00f2;
	outline: 1px solid #00f;
}
.box {
	width: 50px;
	height: 50px;
	outline: 1px solid #0f0;
	background: #0f02;
	margin: 2rem;
}
.p {
	background: #0000;
	padding: .5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	letter-spacing: 4px;
	font-weight: 700;
	color: #fff;
}
