 /* general...................... */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #fff;
	user-select: none;
	cursor: url(images/cursor4.png) 30 30, auto;
}
.body {
	background-color: #000;
}
body::-webkit-scrollbar {
	width: 10px;
	height: 7px;
	background: #000;
	border-radius: 0;
}
.button {
	padding: 0.6rem;
	display: inline-block;
	border: 0px solid #0000;
	border-radius: 5px;
	background-color: rgba(55, 0, 255, 0.5);
	font-size: 1em;
}
.button:hover {
	background-color: #0005;
}
.a {
	text-decoration: none;
}
:root {
	--main-text-color: linear-gradient(to top,rgba(8, 0, 255, 1) 0%, rgba(0, 255, 34, 1) 50%, rgba(140, 0, 255, 1) 100%);
}
/* inicio.................... */
.header {
	background-image: url(https://i.pinimg.com/736x/8d/7b/73/8d7b73443798042a91fde6be0903ccb1.jpg);
	background-repeat: repeat;
	background-size: 40%;
	background-attachment: fixed;
	background-position: top;
	height: 60vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	user-select: none;
}
.divTextHeader {
	align-self: flex-start;
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 0px 20px 20px 0px;
	background-color: rgb(0, 0, 0, 0.79);
	position: fixed;
	top: 0;
	left: 0;
}
.aTextHeader {
	padding-top: 1rem;
}
.h4Header {
	background: linear-gradient(90deg,rgba(8, 0, 255, 1) 0%, rgba(0, 255, 34, 1) 50%, rgba(140, 0, 255, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	display: inline;
	color: transparent;
	font-size: 190%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainNav {
	align-self: center;
}
.inputNav {
	padding: 0.6rem 0.6rem 0.6rem 1rem;
	border: 0px solid #0000;
	background-color: rgba(55, 0, 255, 1);
	color: #fff;
	font-size: 1em;
	border-radius: 2px;
	width: auto;
}
.inputNav:focus {
	border: none;
	outline: none;
}
.buttonSearchNav {
	border-radius: 0 20px 20px 0px;
	width: auto;
}
.textSearchNav {}
.iconSearch {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
/* boton de menu............................ */
.contenButtonMenuNav {
	display: inline-block;
	float: right;
	position: fixed;
	right: 0;
	z-index: 10000000;
}
.buttonMenuNav {
	align-self: flex-start;
	margin: 1rem;
	transform: rotate(90deg);
	font-size: 150%;
}
.contenMenuOptions {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	min-width: 20vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 1rem 0.6rem;
	padding: 0.6rem;
	border: 0px solid #0000;
	border-radius: 5px;
	background-color: rgba(55, 0, 255, 0.711);
	font-size: 1em;
}
.contenMenuOptions a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.contenMenuOptions a:hover {
	background-color: #f1f1f160;
	color: #fff;
	transition: 0.5s;
}
.contenButtonMenuNav:hover .contenMenuOptions {
	display: block;
}
.contenButtonMenuNav:hover .buttonMenuNav {
	background-color: rgba(0, 0, 0, 0);
	color: #0000;
}
 /*contenido principal.................................................................*/
.article {
	padding: 1rem 9rem;
}
.mainSection {
}
 /*texto de presentacion..........................................*/
.divMainTextOSection {
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.h4MainOSection {
	margin: 2rem 1rem 1rem;
	font-size: 2.1rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: linear-gradient(90deg,rgba(8, 0, 255, 1) 0%, rgba(0, 255, 34, 1) 50%, rgba(140, 0, 255, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.pMainOSection {
	text-align: center;
	letter-spacing: 1px;
	padding: 2rem;
}

 /*presentacion de proyectos.....................................*/
 .contenProjects {
 }
 .titleProjecstTag {
	margin: 3rem;
	margin-bottom: 5rem;
	z-index: 1000;
	font-size: 160%;
	color: rgb(0, 255, 255);
	font-family: "Major Mono Display", monospace;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 5px;
 }
 /*borde interactivo...............................*/
 .contenProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
	margin-top: 7rem;
 }
 .contenBorderAnimate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
    overflow: hidden;
    width: 80%;
    border-radius: 20px;
	padding: 3rem;
 }
 .contenBorderAnimate::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 70%;
    background: conic-gradient(rgb(0, 0, 255) 0 25%, rgb(0, 255, 0) 25% 50%, rgb(153, 0, 255) 50% 75%, rgb(0, 0, 225) 75%);
    animation: borderAnimate 12s linear infinite;
 }
 .contenBorderAnimate::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #000000;
    border-radius: 20px;
 }
@keyframes borderAnimate {
    0% {
        transform: rotate(0deg);
    }
    50% {
		background: conic-gradient(rgb(0, 0, 255) 0 25%, rgb(0, 255, 0) 25% 50%, rgb(153, 0, 255) 50% 75%, rgb(0, 0, 225) 75%);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*contenido de las tags.................... */
.contenProjectsTags {
	position: relative;
	z-index: 150;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.linkTag {
	text-decoration: none;
	display: inline-block;
	position: relative;
	max-width: 25%;
	min-width: 200px;
	height: 400px;
	margin: 2rem;
	border: 0px solid #fff0;
	border-radius: 20px;
}
.projectTag {
	border-radius: 20px;
	height: 400px;
	/* background: linear-gradient(to top, rgba(38, 0, 255, 0.412), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); */
	background: rgba(255, 255, 255, 0.324);
	background-image: url(images/navilar.png);
	background-repeat: repeat-x;
	background-size: 1200%;
	background-position: left bottom;
	background-repeat: repeat;
	animation: slide 200s linear infinite;
	position: relative;
	filter: blur(0);
}
@keyframes slide {
	0% {
	}
	50% {
		background-position: right bottom;
		background-repeat: repeat-x;
	}
	100% {
	}
  }
.imgProjectTag {
	width: 100%;
	height: 50%;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
	filter: blur(3px) grayscale(0.3);
	clip-path: inset(0);
	transition: 1s;
}
.imgProjectTag:hover {
	filter: blur(0px) grayscale(0);
	transition: 1.5s;
	border-radius: 10px 10px 0px 0px;
}
.contenPerfilImg {
	width: 5rem;
	height: 5rem;
	position: absolute;
	z-index: 1000;
	border-radius: 100%;
	border: 0px solid #fff0;
	top: 42%;
	left: 20%;
	transform: translate(-50%, -50%); 
	transition: 0.5s;
}
.perfilImgSmallShadow {
	filter: drop-shadow(0 0 19px rgba(255, 255, 255, 0.492));
}
.contenPerfilImg img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	border: 0px solid #fff0;
}
.perfilImg {
}
.contenPerfilImg:hover {
	width: 5.5rem;
	height: 5.5rem;
	transition: 0.5s;
	top: 40%;
	left: 20%;
}
.contenDescripProjects {
	padding: 0.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.h4TitleProjects {
	margin: 0 1em;
	margin-top: 10px;
	color: rgb(255, 255, 255);
	letter-spacing: 3px;
	font-size: 20px;
	font-family: "Staatliches", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.pDescriptProjects {
	height: 80px;
	overflow-y: auto;
	margin: 1em 0.9em 0 1em;
	font-size: 13px;
	color: #fff5;
	text-align: center;
}
.contenSpanTag {
	display: flex;
	flex-wrap: wrap;
	max-width: 25%;
	min-width: 170px;
	height: 3rem;
	align-items: center;
	justify-content: space-evenly;
}
.spanTag {
	color: rgb(0, 191, 255);
	border: 0.1px solid rgb(21, 0, 255);
	background-color: rgba(244, 244, 244, 0);
	border-radius: 10px;
	padding: 2% 5%;
	margin: 1%;
	font-size: 70%;
}
/* barras de desplasamiento personalisadas........................................ */
::-webkit-scrollbar {
	width: 6px;
	height: 7px;
	background: rgba(255, 255, 255, 0);
	border-radius: 20px;
	/* el propio contenedor de la barra de desplazamiento. */
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	border-radius: 20px;
	box-shadow: none;
	border: 1px solid #000;
	/* la pista sobre la que se desplaza el thumb. */
} 
::-webkit-scrollbar-thumb {
	background: rgba(0, 8, 255, 0.499);
	background: linear-gradient(to top,rgba(8, 0, 255, 1) 0%, rgba(0, 255, 34, 1) 50%, rgba(140, 0, 255, 1) 100%);
	border-radius: 10px;
	border: none;
	box-shadow: none;
	min-height: 20px;
	min-width: 20px;
} 
::-webkit-scrollbar-button {
	display: none; 
	background: rgba(255, 255, 255, 0); 
	border: none; 
	width: 0;
	height: 0;
	border-radius: 0;
	box-shadow: none;
} 
::-webkit-scrollbar-corner {
	background: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0;
}
/* contenido secundario........................................................... */
.secondarySection {
	margin-top: 10em;
} 
.divContenAreaNotes {
	margin: 2%;
	padding: 2%;
} 
.contenTextNotes {
	padding: 1rem;
	display: inline-block;
	display: flex;
	flex-direction: column;
	text-align: center;
} 
.h4TextNotes {
	display: inline-block;
	margin: 4rem 2rem;
	font-size: 2.2em;
	font-weight: 100;
	font-family: "Rubik Burned", system-ui;
	font-weight: 400;
	font-style: normal;
	text-shadow: 0 0 5px rgba(55, 0, 255, 1), 0 0 10px rgba(55, 0, 255, 1), 0 0 25px rgba(55, 0, 255, 1);
	letter-spacing: 10px;
}
.pTextNotes {
	color: #ffffff;
	margin: 0rem 1rem 5rem 1rem;
	text-align: center;
	letter-spacing: 1px;
	font-size: 1em;
} 
.contenAccessNotes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 5rem 0;
} 
.linkAccessNotes {
	text-decoration: none;
	margin: 0.5rem 1rem;
	position: relative;
	width: 17vw;
	height: 90px;
	display: flex;
	align-items: center;
	transition: .5s;
}
.linkAccessNotes:hover {
	width: 19vw;
	transition: 1s;
}
.imgBackAccessNotes {
	width: 17vw;
	height: 90px;
	position: absolute;
} 
.imgBackAccessNotes:hover {
	width: 20vw;
} 
.decorativeAccessNotes {
	width: 17vw;
	height: 90px;
	clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 0%);
	position: absolute;
	right: -15px;
}
.pAccessNotes {
	display: inline-block;
	width: 20vw;
	font-size: 40px;
	text-align: center;
	position: absolute;
	left: -20px;
}
.backHtml {
	background-image: url(https://media.istockphoto.com/id/862672450/es/foto/c%C3%B3digo-html-en-el-editor-de-texto-p%C3%A1gina-web-internet-tecnolog%C3%ADa.jpg?s=170667a&w=0&k=20&c=cJ1ZcVsEUzVYk5za6xqbHqzu3OfOzjJPXv4gZupHl2M=);
	background-size: 110%;
	background-position: right top;
	clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 0%);
}
.decorativHtml {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), #cd6633);
}
.backCss {
	background-image: url(images/codeCss.png);
	background-size: 130%;
	background-position: right;
	clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 0%);
}
.decorativCss {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), #3533cd);
}
.backJs {
	background-image: url(https://images.unsplash.com/photo-1670057037226-b3d65909424f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YyVDMyVCM2RpZ28lMjBqYXZhc2NyaXB0fGVufDB8fDB8fHww);
	background-size: 130%;
	background-position: right;
	clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 0%);
}
.decorativJs {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(210, 189, 35));
}
/* seccion de relleno................................................. */
.forcedArticle {
}
.incompleteSection {
	margin: 20rem 5rem;
}
.contenSectionFalse {
	border-radius: 20px;
	border: 0.5em dashed #fff5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logSectionFalse {
	width: 100px;
	height: 100px;
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	background: #fff5;
}
.pIncompleteSection {
	display: inline-block;
	font-size: 3vw;
	margin: 5%;
	color: #fff5;
}
.logSectionFalse:active {
	background-color: rgb(255, 0, 0);
}
/* pie de pagina o footer................................................. */
.footer {
	width: auto;
	height: 30vh;
	background: linear-gradient(50deg,rgba(8, 0, 255, .4), rgba(8, 0, 255, .4), rgba(0, 255, 34, .4), rgba(140, 0, 255, .4), rgba(140, 0, 255, .4));
	background-size: 250%;
	animation: footerFond 20s ease infinite;
	position: relative;
	bottom: 0;
}
@keyframes footerFond {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
  }
.contenFooter {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30vh;
	flex-wrap: wrap;
}
.boxFooterLog {
	color: #fff8;
	font-size: 13px;
	font-family: "Teko", sans-serif;
	align-self: flex-end;
	margin: 1rem;
}
.boxFooterOptions {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-self: center;
	justify-content: space-evenly;
	padding: 1%;
	width: 50vw;
}
.aFooter {
	text-decoration: none;
	margin: 1rem;
	font-size: 16px;
	transition: .4s;
	color: #fff8;
}
.aFooter:hover {
	color: #fff;
	transition: .4s;
}

/* contenido adaptable.......................................... */

/* ----------------menu para telefono............ */
@media (max-width: 600px) {
	* {
		/* outline: 1px solid red; */
	}
	.header {
		background-repeat: no-repeat;
		background-size: 100%;
		height: 50vh;
		flex-direction: column;
		justify-content: space-between;
	}
	.divTextHeader {
		padding: 1.5%;
		margin-top: 1%;
		z-index: 10000000;
	}
	.aTextHeader {
		padding: 15%;
		padding-left: 0;
		padding-top: 35%;
	}
	.h4Header {
		display: inline-block;
		font-size: 160%;
	}
	.mainNav {
		align-self: flex-end;
		right: 15%;
		margin: 0;
		position: fixed;
		z-index: 10000000;
	}
	.inputNav {
		padding: 0;
		font-size: 0;
		border-radius: 0;
		width: 0;
		position: absolute;
	}
	.buttonSearchNav {
		border-radius: 5px;
		width: auto;
		margin: 10%;
		padding: 0.4rem 0.6rem;
	}
	.textSearchNav {
		font-size: 0;
		width: 0;
		height: 0;
		position: absolute;
		opacity: 0;
	}
	.iconSearch {
		position: relative;
		width: 32px;
		height: auto;
		opacity: 1;
		margin: 0;
	}
	/* boton de menu............................ */
	.contenButtonMenuNav {
		margin: 0;
		padding: 0;
		width: 0;
		height: 0;
		right: 10%;
	}
	.buttonMenuNav {
		font-size: 28px;
		margin: 0;
	}
	.contenMenuOptions {
		right: -50px;
		top: -10px;
		min-width: 50vw;
	}
}
/* ----------------contenido inicial............ */
@media (max-width: 600px) {
	.article {
		padding: 0;
	}
	.divMainTextOSection {
		margin: 0;
	}
	.h4MainOSection {
		margin: 3rem 1rem 1rem;
		font-size: 2rem;
	}
	.pMainOSection {
		padding: 2rem;
		font-size: .99rem;
	}
	/*borde interactivo...............................*/
	.contenProjects {
	   display: flex;
	   flex-direction: column;
	   align-items: center;
	   align-content: center;
	   margin-top: 2rem;
	}
	.contenBorderAnimate {
	   width: 100%;
	   padding: 0;
	}
	.contenBorderAnimate::before {
	   width: 500%;
	   height: 500%;
	   background: conic-gradient(rgb(0, 0, 255) 0 25%, rgb(0, 255, 0) 25% 50%, rgb(0, 0, 255) 50% 75%, rgb(153, 0, 255) 75%);
	   animation: borderAnimate 15s linear infinite;
	}
	.titleProjecstTag {
	   font-size: 1.5rem;
	}
	/*contenido de las tags.................... */
	.contenProjectsTags {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 4rem;
	}
	.linkTag {
		height: 400px;
		max-width: 80vw;
		margin: 2rem 1rem;
	}
	.projectTag {
		border-radius: 20px;
		width: 80vw;
	}
	.imgProjectTag {
		filter: blur(0) grayscale(0);
	}
	.pDescriptProjects {
		height: 70px;
	}
	.contenSpanTag {
		max-width: 150%;
		min-width: 90%;
		height: 2.5rem;
	}
	/* contenido secundario........................................................... */
	.secondarySection {
		margin-top: 5em;
	} 
	.divContenAreaNotes {
		margin: 0;
		padding: 0;
	} 
	.contenTextNotes {
		padding: 1rem;
		display: inline-block;
		display: flex;
		flex-direction: column;
		text-align: center;
	} 
	.h4TextNotes {
		margin: 2rem 1rem;
		font-size: 1.5rem;
		letter-spacing: 5px;
	}
	.pTextNotes {
		margin: 1rem 1rem 1rem;
		text-align: center;
		letter-spacing: 1px;
		font-size: 1em;
	} 
	.contenAccessNotes {
		display: flex;
		flex-direction: column;
		margin: 3rem 0;
	} 
	.linkAccessNotes {
		margin: 2rem;
		width: 60vw;
	}
	.linkAccessNotes:hover {
		width: 70vw;
	}
	.imgBackAccessNotes {
		width: 60vw;
	} 
	.imgBackAccessNotes:hover {
		width: 70vw;
	} 
	.decorativeAccessNotes {
		width: 60vw;
	}
	.pAccessNotes {
		width: 30vw;
		font-size: 35px;
		left: 10px;
	}
	.incompleteSection {
		margin: 10rem 5rem;
	}
}
@media (max-width: 640px) {
	/* pie de pagina o footer................................................. */
	.footer {
		height: 233px;
	}
	.contenFooter {
		padding: 0rem;
	}
	.boxFooterLog {
		margin: 4%;
		position: absolute;
		top: 0;
	}
	.boxFooterOptions {
		padding: 0;
		width: auto;
		position: absolute;
		bottom: 0;
		margin-bottom: 4%;
	}
	.aFooter {
		transition: none;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
	.contenBorderAnimate::before {
		width: 400%;
		height: 170%;
		background: conic-gradient(rgb(0, 0, 255) 0 25%, rgb(0, 255, 0) 25% 50%, rgb(153, 0, 255) 50% 75%, rgb(0, 0, 0) 75%);
	 }
	 @keyframes borderAnimate {
		0% {
			transform: rotate(0deg);
		}
		50% {
			background: conic-gradient(rgb(0, 0, 255) 0 25%, rgb(0, 255, 0) 25% 50%, rgb(153, 0, 255) 50% 75%, rgb(0, 0, 0) 75%);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
@media screen and (min-width: 600px) and (max-width: 999px) {
	.contenBorderAnimate::before {
		width: 400%;
		height: 170%;
		background: conic-gradient(rgb(0, 0, 255) 0 25%, rgb(0, 255, 0) 25% 50%, rgb(0, 0, 255) 50% 75%, rgb(153, 0, 255) 75%);
		animation: borderAnimate 12s linear infinite;
	 }
	 @keyframes borderAnimate {
		0% {
			transform: rotate(0deg);
		}
		50% {
			background: conic-gradient(rgb(0, 0, 255) 0 25%, rgb(0, 255, 0) 25% 50%, rgb(0, 0, 255) 50% 75%, rgb(153, 0, 255) 75%);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

